<!DOCTYPE html>
<html>
    <head>
        <title>Wellcome</title>
        <link rel="icon" type="image/x-icon" href="static/ptit.png">
    </head>
    <body>
        <h1 style="color: red;">Thực hành môn An toàn và bảo mật hệ thống thông tin</h1>
        <p>Hello world!</p>
        <p>Trang web này dùng để demo </p>
        <p>Mỗi lần trang được truy cập thì count += 1</p>
        <h2>count = {{count}}</h2>
        <p>
            Thành viên nhóm gồm
            <ul>
                <li>Đặng Hữu Hiếu</li>
                <li>Lý Hoàng Long</li>
                <li>Lê Ngọc Tú</li>
            </ul>
        </p>        
    </body>

</html>